.header__top {
  padding-top: 30px;
}

.logo-hearts {
  margin: 0 auto;
  width: 50px;
  height: 50px;
}

.title {
  text-align: center;
  font-family: var(--secondary-font);
  font-size: clamp(30px, 4vw + 10px, 70px);
}

.header__we {
  width: 15%;
  height: 15%;
  margin: 0 auto;
  border-radius: 15px;
}

.about {
  text-align: center;
  font-size: 25px;
}
.about__info {
  font-weight: 400;
}
.about__links {
  display: flex;
  justify-content: center;
  gap: 30px;
  font-style: normal;
  text-underline-position: under;
  font-size: 20px;
  margin-top: 10px;
}

.calendar-image {
  border-radius: 15px;
  border: 10px solid rgb(203 219 235);
  max-width: 500px;
}

.calendar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px 0;
  gap: 25px;
}
.data {
  font-family: var(--secondary-font);
  font-size: 35px;
}

.timer {
  text-align: center;
  font-family: var(--secondary-font);
  font-size: 35px;
}
.time {
  display: inline-block;
  width: 32px;
  color: rgb(236, 59, 28);
}
.day--seconds {
  min-width: 105px;
  display: inline-block;
  text-align: left;
}

.logo-couple {
  margin: 0 auto;
  width: 70px;
  height: 70px;
}
.text__title {
  text-align: center;
  font-family: var(--secondary-font);
  font-size: 35px;
}
.logo-rings {
  margin: 0 auto;
  width: 40px;
  height: 40px;
}
.text__main {
  margin-bottom: 10px;
  text-align: center;
  font-size: 24px;
}

.logo-celebrate {
  margin: 0 auto;
  width: 40px;
  height: 40px;
}

canvas {
  /* position: fixed;
  top: 0;
  left: 0; */
  width: 100%;
  height: 100%;
  /* z-index: -1; */
}
footer {
  position: relative;
}
footer::after {
  content: "Happy Wedding";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 40px;
  font-weight: 700;
  font-family: "Times New Roman";
  white-space: nowrap;
  opacity: 0.75;
}

@media (max-width: 954px) {
  .header__we {
    width: 30%;
  }
}

@media (max-width: 800px) {
  .header__we {
    width: 50%;
  }
}

@media (max-width: 500px) {
  .header__we {
    width: 100%;
  }
}
